<form class="flex flex-col search-form w-full">
	<div class="grid items-center gap-s" style="grid-template-columns: 1fr auto auto;">
		<input type="text" name="url" placeholder="URL">
		<nl-tag-input name="tags" placeholder="Tags"></nl-tag-input>
		<div class="invisible vector flex items-center gap-s">
			<div class="select-flat">
				<label><input type="checkbox" name="mode" value="fts" checked>Keywords</label>
				<label><input type="checkbox" name="mode" value="vector">Vector</label>
			</div>
			<div class="radio-flat flex">
				<label title="Fast Search">
					<input type="radio" name="useVectorIndex" value="true">
					<span class="icon">bolt</span>
				</label>
				<label title="Deep Search">
					<input type="radio" name="useVectorIndex" value="false">
					<span class="icon">database_search</span>
				</label>
			</div>
		</div>
		<input type="text" name="query" placeholder="Query (u:URL t:Tag)">
		<div class="flex items-center gap-2s">
			<button type="button" class="prevTerm flat"><span class="icon">chevron_left</span></button>
			<input type="date" name="from">
			<span>～</span>
			<input type="date" name="to">
			<button type="button" class="nextTerm flat"><span class="icon">chevron_right</span></button>
		</div>
		<div class="select-flat">
			<label><input type="checkbox" name="field" value="title" checked>Title</label>
			<label><input type="checkbox" name="field" value="memo" checked>Memo</label>
			<label><input type="checkbox" name="field" value="markdown" checked>Content</label>
		</div>
	</div>
	<div class="hidden">
		<button type="submit">Search</button>
	</div>
	<div class="flex items-end">
		<span class="count flex items-center none"></span>
		<svg class="icon animate-spin none" viewBox="0 -960 960 960" fill="currentColor">
			<path
				d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 83-31.5 156t-86 127Q708-143 635.5-111.5T480-80Z" />
		</svg>
		<div class="radio-flat ml-auto">
			<label><input type="radio" name="sortBy" value="relevance" checked>Relevance</label>
			<label><input type="radio" name="sortBy" value="created_at">Created</label>
			<label><input type="radio" name="sortBy" value="updated_at">Updated</label>
			<label><input type="radio" name="sortBy" value="rating">Rating</label>
		</div>
	</div>
</form>