.SearchForm {
	display: contents;

	form {
		input[name="url"],
		nl-tag-input[name="tags"],
		input[name="query"] {
			width: 100%;
		}

		.prevTerm,
		.nextTerm {
			padding: 0;
		}

		.prevTerm{
			margin-inline: calc(var(--space-2s) * -1);
		}

		.nextTerm{
			margin-inline: calc(var(--space-2s) * -1);
		}

		svg{
			width: var(--font-size-s);
			height: var(--font-size-s);
		}

		.radio-flat {
			gap: var(--space-2s);
		}
	}

	.count {
		gap: calc(var(--space-2s) * 0.5);
		font-size: var(--font-size-2s);
		color: var(--ink-3);

		.icon{
			font-size: var(--font-size-2s);
		}
	}
}
