@import 'theme.css';

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	gap: var(--space-sm);
	padding: var(--space-sm);
	margin: 0;
	font-size: var(--font-size-xs);
	color: var(--color-text-primary);
	background-color: var(--color-background-primary);
}

a {
	color: unset;
	text-decoration: none;
}

input,
textarea {
	width: 100%;
	padding: var(--space-xs);
	outline: none;
	background-color: var(--color-background-primary);
	border: 1px solid var(--color-border-primary);
	border-radius: var(--radius-default);
}

input:focus,
textarea:focus {
	border-color: var(--color-border-primary);
}

textarea {
	flex: 1;
	min-height: var(--size-3xl);
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	height: 100%;
}

button {
	align-self: flex-end;
	padding: var(--space-xs) var(--space-sm);
	color: var(--color-text-foreground);
	background-color: var(--color-primary);
	border-radius: var(--radius-default);
}

button:hover {
	background-color: var(--color-primary-dark);
}

.btn-flat {
	color: var(--color-text-primary);
	background-color: var(--color-background-primary);
}

.btn-flat:hover {
	background-color: var(--color-background-primary);
	opacity: 0.7;
}

.btn-flat:active {
	opacity: 1;
}

.error {
	display: none;
	margin-top: var(--space-xs);
	color: var(--color-error);
}

/* ---- [Tagify] ---------------------------------- */
.tagify {
	--tags-border-color: var(--color-border-primary);
	--tags-focus-border-color: var(--color-border-primary);

	--tag-bg: var(--color-primary);
	--tag-text-color: var(--color-text-foreground);
	--tag-hover: var(--color-primary-dark);
	--tag-border-radius: var(--radius-default);

	/* margin-bottom: handled by gap */
	border-radius: var(--radius-default);

	&, *, *::before, *::after  {
		transition: none !important;
		animation: none !important;
	}

	.tagify__tag {
		cursor: pointer;

		&:focus div::before,
		&:hover:not([readonly]) div::before {
			--tag-bg-inset: 0 !important;
		}
	}

	/* 削除ボタンを非表示 */
	.tagify__tag__removeBtn {
		display: none !important;
	}
}

.tagify__dropdown {
	--tagify-dd-color-primary: var(--color-primary);

	/* マウスイベントを無効化 (キーボード操作の妨げになるため) */
	pointer-events: none;

	&, *, *::before, *::after  {
		transition: none !important;
		animation: none !important;
	}

	.tagify__dropdown__item {
		/* 左側の余白を無くす */
		text-indent: 0 !important;

		/* チェックマーク(✓)を非表示 */
		&::before {
			display: none !important;
		}

		&.tagify__dropdown__item--active {
			color: var(--color-text-foreground) !important;
			background: var(--color-primary) !important;
		}
	}
}
