@charset "UTF-8";

/* Chrome拡張内でブラウザのデフォルトスタイルを上書きする */
body {
	font-family: var(--font-sans);
	font-size: var(--font-size-s);
}

@layer{
	/* ---- Icon(Material Symbols) ---- */
	.icon {
		display: inline-block;
		font-family: 'Material Symbols Outlined';
		font-size: var(--font-size-m);
		font-style: normal;
		font-weight: normal;
		font-feature-settings: 'liga';
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		overflow-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
	}
}

@layer {
	/* スクリプトから表示状態を変更する */
	.none { display: none !important; }

	/* ---- Base ---- */
	html,
	body {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		gap: var(--space-m);
		padding: var(--space-m);
		color: var(--color-5);
		background-color: var(--color-0);
	}

	h2 {
		margin: var(--space-m) 0;
		font-size: var(--font-size-l);
		color: var(--color-6);
		border-bottom: 1px solid var(--color-1);
	}

	/* ---- Form ---- */
	form {
		gap: var(--space-s);
	}

	input,
	textarea,
	select {
		width: 100%;
		padding: var(--space-s);
		color: inherit;
		outline: none;
		background-color: var(--color-0);
		border: 1px solid var(--color-2);
		border-radius: var(--radius-m);

		&::placeholder {
			color: var(--color-3);
		}

		&:focus::placeholder {
			color: var(--color-2);
		}
	}

	/* Chrome/Safari/Edge/Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		margin: 0;
		appearance: none;
	}

	/* Firefox */
	input[type='number'] {
		appearance: textfield;
	}

	select {
		cursor: pointer;
	}

	textarea {
		flex: 1;
	}

	/* button:activeに上書きされる */
	button:hover {
		background-color: oklch(from var(--color-5) calc(l * var(--hover-up)) c h);
	}

	/* グループ化によりbutton:activeの詳細度になる */
	button,
	button:active {
		display: flex; /* 僅かな行の余白を除去する */
		align-self: flex-end;
		padding: var(--space-2s) var(--space-s);
		font-weight: bold;
		color: var(--color-0);
		background-color: var(--color-5);
		border-radius: var(--radius-m);

		&.btn-flat,
		&.btn-flat:active {
			padding: 0;
			color: var(--color-5);
			background-color: transparent;
		}

		/* 親要素で指定した現在色を使う */
		&.btn-flat span:hover {
			color: oklch(from currentcolor calc(l * var(--hover-up)) c h);
		}

		&.btn-flat span:active {
			color: currentcolor;
		}
	}

	.btn-text {
		cursor: pointer;

		&:hover {
			color: oklch(from currentcolor calc(l * var(--hover-up)) c h);
		}

		&:active {
			color: currentcolor;
		}
	}

	/* ---- Select/Radio ---- */
	.select-flat,
	.radio-flat {
		display: flex;
		font-weight: bold;
		color: var(--color-3);

		label {
			font-size: var(--font-size-s);
			line-height: 1;
			cursor: pointer;
			user-select: none;

			& input {
				display: none;
			}
		}
	}

	.select-flat{
		gap: var(--space-2s);

		label {
			padding: var(--space-2s);
			border: 1px solid var(--color-3);
			border-radius: var(--radius-m);

			&:hover {
				color: oklch(from currentcolor calc(l * var(--hover-on)) c h);
				border-color: oklch(from currentcolor calc(l * var(--hover-on)) c h);
			}

			&:active{
				color: var(--color-5);
				border-color: var(--color-5);
			}

			&:has(input:checked) {
				color: var(--color-0);
				background-color: var(--color-5);
				border-color: var(--color-5);
			}

			&:has(input:checked):hover {
				background-color: oklch(from var(--color-5) calc(l * var(--hover-off)) c h);
			}

			&:has(input:checked):active {
				background-color: var(--color-3);
				border-color: var(--color-3);
			}
		}
	}

	.radio-flat {
		gap: var(--space-s);

		label {
			padding: var(--space-2s) 0;

			&:hover {
				color: oklch(from currentcolor calc(l * var(--hover-on)) c h);
			}

			&:active {
				color: var(--color-5);
			}

			&:has(input:checked) {
				color: var(--color-5);
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-underline-offset: calc(var(--space-2s) * 1.5);

				/* border-bottom: 2px solid currentcolor; */
			}
		}
	}

	/* ---- Toggle ---- */
	.toggle {
		display: inline-flex;
		cursor: pointer;

		input {
			display: none;
		}

		span {
			position: relative;
			width: calc((var(--space-m) * 2) + 4px);
			height: calc(var(--space-m) + 4px);
			background: var(--color-3);
			border-radius: 999px;
		}

		span::after {
			position: absolute;
			top: 2px;
			left: 2px;
			width: var(--space-m);
			height: var(--space-m);
			content: "";
			background: var(--color-0);
			border-radius: 50%;
		}

		input:checked+span {
			background: var(--color-5);
		}

		input:checked+span::after {
			transform: translateX(14px);
		}
	}

	/* ---- Rating ---- */
	.input-rating {
		display: flex;

		.icon {
			font-family: 'Material Symbols Filled';
			color: var(--color-2);
			user-select: none;
		}

		.icon.active {
			color: var(--color-5);
		}

		.icon.hover {
			color: var(--color-4);
		}
	}
}

.error {
	color: var(--color-error);
}

/* ---- Animation ---- */
@keyframes animate-spin {
	to { transform: rotate(1turn); }
}

.animate-spin {
	animation: animate-spin 1s linear infinite;
}
