@import 'theme.css';

/* ---- Base ---- */
html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	gap: var(--space-sm);
	padding: var(--space-sm);
	margin: 0;
	font-size: var(--font-size-xs);
	color: var(--color-3);
	background-color: var(--color-0);
}

a {
	color: unset;
	text-decoration: none;
}

/* ---- Form ---- */
form {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

input,
textarea {
	width: 100%;
	padding: var(--space-xs);
	outline: none;
	border: 1px solid var(--color-2);
	border-radius: var(--radius-default);

	&::placeholder {
		color: var(--color-2);
	}

	&:focus::placeholder {
		color: var(--color-1);
	}
}

textarea {
	flex: 1;
}

/* button:activeに上書きされる */
button:hover {
	background-color: oklch(from var(--color-3) calc(l * var(--hover-up)) c h);
}

/* グループ化によりbutton:activeの詳細度になる */
button,
button:active {
	align-self: flex-end;
	padding: var(--space-2xs) var(--space-xs);
	color: var(--color-0);
	background-color: var(--color-3);
	border-radius: var(--radius-default);

	&.btn-flat,
	&.btn-flat:active {
		padding: 0;
		color: var(--color-3);
		background-color: transparent;
	}

	/* 親要素で指定した現在色を使う */
	&.btn-flat span:hover {
		color: oklch(from currentcolor calc(l * var(--hover-up)) c h);
	}

	&.btn-flat span:active {
		color: currentcolor;
	}
}

/* ---- Select/Radio ---- */
.select-flat,
.radio-flat {
	display: flex;
	color: var(--color-2);

	label {
		font-size: var(--font-size-xs);
		line-height: 1;
		cursor: pointer;
		user-select: none;

		& input {
			display: none;
		}
	}
}

.select-flat{
	gap: var(--space-2xs);

	label {
		padding: var(--space-2xs);
		border: 1px solid var(--color-2);
		border-radius: var(--radius-default);

		&:hover {
			color: oklch(from currentcolor calc(l * var(--hover-on)) c h);
			border-color: oklch(from currentcolor calc(l * var(--hover-on)) c h);
		}

		&:active{
			color: var(--color-3);
			border-color: var(--color-3);
		}

		&:has(input:checked) {
			color: var(--color-0);
			background-color: var(--color-3);
			border-color: var(--color-3);
		}

		&:has(input:checked):hover {
			background-color: oklch(from var(--color-3) calc(l * var(--hover-off)) c h);
		}

		&:has(input:checked):active {
			background-color: var(--color-2);
			border-color: var(--color-2);
		}
	}
}

.radio-flat {
	gap: var(--space-xs);

	label {
		padding: var(--space-2xs) 0;

		&:hover {
			color: oklch(from currentcolor calc(l * var(--hover-on)) c h);
		}

		&:active {
			color: var(--color-3);
		}

		&:has(input:checked) {
			color: var(--color-3);
			border-bottom: 2px solid currentcolor;
		}
	}
}

.error {
	display: none;
	margin-top: var(--space-xs);
	color: var(--color-error);
}

/* ---- Tagify ---- */
.tagify {
	--tags-border-color: var(--color-2);
	--tags-focus-border-color: var(--color-2);
	--tags-hover-border-color: var(--color-2);

	--tag-bg: var(--color-3);
	--tag-text-color: var(--color-0);
	--tag-hover: oklch(from var(--color-3) calc(l * var(--hover-off)) c h);
	--tag-border-radius: var(--radius-default);

	--tag-invalid-bg: var(--color-error);

	--placeholder-color: var(--color-2);
	--placeholder-color-focus: var(--color-1);

	border-radius: var(--radius-default);

	&, *, *::before, *::after  {
		transition: none !important;
		animation: none !important;
	}

	.tagify__tag {
		cursor: pointer;

		&:focus div::before,
		&:hover:not([readonly]) div::before {
			--tag-bg-inset: 0 !important;
		}

		&:active:not([readonly]) div::before {
			--tag-bg: var(--color-2);
		}

		&.tagify--notAllowed:not(.tagify__tag--editable) div>span {
			opacity: 1;
		}
	}

	/* 削除ボタンを非表示 */
	.tagify__tag__removeBtn {
		display: none !important;
	}
}

.tagify__dropdown {
	--tagify-dd-color-primary: var(--color-2);

	/* マウスイベントを無効化 (キーボード操作の妨げになるため) */
	pointer-events: none;

	&, *, *::before, *::after  {
		transition: none !important;
		animation: none !important;
	}

	.tagify__dropdown__item {
		/* 左側の余白を無くす */
		text-indent: 0 !important;

		/* チェックマーク(✓)を非表示 */
		&::before {
			display: none !important;
		}

		&.tagify__dropdown__item--active {
			color: var(--color-0) !important;
			background: var(--color-3) !important;
		}
	}
}
