@import 'https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@100;400;700;800&display=swap';
@import 'color.css';
@import 'token.css';
@import 'reset.css';

:root {
	--font-sans: "Helvetica Neue", helvetica, "Hiragino Sans", arial, meiryo, system-ui, sans-serif;

	--font-weight-3: 800;
	--font-weight-2: 700;
	--font-weight-1: 400;
	--font-weight-0: 100;

	--color-4: var(--color-gray-8); /* 一次情報/ハイライト */
	--color-3: var(--color-gray-7); /* 二次情報/塗りつぶしボタン背景 */
	--color-2: var(--color-gray-5); /* 三次情報 */
	--color-1: var(--color-gray-2); /* 罫線/プレースホルダー */
	--color-0: var(--color-gray-0); /* バックグラウンド */

	--color-error: var(--color-red-6);

	--color-bg-image: transparent;

	/* 操作結果の状態遷移先を予測させる */
	--hover-off: 1.15;
	--hover-on: 0.85;

	/* 状態遷移先がないもの(ボタンなど)は上げて戻す */
	--hover-up: 1.15;
}

:root:lang(ja){
	--font-sans: "LINE Seed JP", system-ui, sans-serif;
}

html.dark {
	/* color.cssは青み掛かっている */
	--color-4: hsl(0deg 0 93);
	--color-3: hsl(0deg 0 76);
	--color-2: hsl(0deg 0 46);
	--color-1: hsl(0deg 0 22);
	--color-0: hsl(0deg 0 18);

	--color-error: var(--color-yellow-6);

	/* 透過画像背景 */
	--color-bg-image: var(--color-gray-3);

	--hover-off: 0.9;
	--hover-on: 1.15;
}
