@import 'color.css';
@import 'token.css';
@import 'reset.css';

:root {
	--color-3: var(--color-gray-7);
	--color-2: var(--color-gray-5);
	--color-1: var(--color-gray-2);
	--color-0: var(--color-gray-0);

	--color-error: var(--color-red-6);

	--color-bg-image: transparent;

	--hover-off: 1.15;
	--hover-on: 0.85;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* color.cssは青み掛かっている */
		--color-3: hsl(0deg 0 83);
		--color-2: hsl(0deg 0 42);
		--color-1: hsl(0deg 0 24);
		--color-0: hsl(0deg 0 18);

		--color-error: var(--color-yellow-6);

		/* 透過画像背景 */
		--color-bg-image: var(--color-gray-3);

		--hover-off: 0.85;
		--hover-on: 1.15;
	}
}
