@import 'color.css';
@import 'token.css';
@import 'reset.css';

:root {
	--color-3: var(--color-gray-7);
	--color-2: var(--color-gray-5);
	--color-1: var(--color-gray-2);
	--color-0: var(--color-gray-0);

	--color-error: var(--color-red-6);

	--hover-off: 1.15;
	--hover-on: 0.85;
}
