@charset "UTF-8";

@layer {
	body {
		gap: calc(var(--space-s) * 0.8);

		/* 狭い外周は目の錯覚で数値以上に狭く見える */
		padding: calc(var(--space-s) +
		clamp(var(--space-s) / 4,
		2px + (100vw - 380px) * (8 - 2) / (460 - 380),
		var(--space-s)));
	}

	.frame header {
		display: flex;
		gap: var(--space-s);

		* {
			line-height: 1;
		}

		.icon{
			font-weight: bold;
		}
	}
}
