:root, .light, .light-theme {
	--tomato-11: color-mix(in hsl, #d13415 80%, #5c271f 20%);
	--red-11: color-mix(in hsl, #ce2c31 80%, #641723 20%);
	--ruby-11: color-mix(in hsl, #ca244d 80%, #64172b 20%);
	--crimson-11: color-mix(in hsl, #cb1d63 80%, #621639 20%);
	--pink-11: color-mix(in hsl, #c2298a 80%, #651249 20%);
	--plum-11: color-mix(in hsl, #953ea3 80%, #53195d 20%);
	--purple-11: color-mix(in hsl, #8145b5 80%, #402060 20%);
	--violet-11: color-mix(in hsl, #6550b9 80%, #2f265f 20%);
	--iris-11: color-mix(in hsl, #5753c6 80%, #272962 20%);
	--indigo-11: color-mix(in hsl, #3a5bc7 80%, #1f2d5c 20%);
	--blue-11: color-mix(in hsl, #0d74ce 80%, #113264 20%);
	--cyan-11: color-mix(in hsl, #107d98 80%, #0d3c48 20%);
	--teal-11: color-mix(in hsl, #008573 80%, #0d3d38 20%);
	--jade-11: color-mix(in hsl, #208368 80%, #1d3b31 20%);
	--green-11: color-mix(in hsl, #218358 80%, #193b2d 20%);
	--grass-11: color-mix(in hsl, #2a7e3b 80%, #203c25 20%);
	--bronze-11: color-mix(in hsl, #7d5e54 80%, #43302b 20%);
	--gold-11: color-mix(in hsl, #71624b 80%, #3b352b 20%);
	--brown-11: color-mix(in hsl, #815e46 80%, #3e332e 20%);
	--orange-11: color-mix(in hsl, #cc4e00 80%, #582d1d 20%);
	--amber-11: color-mix(in hsl, #ab6400 80%, #4f3422 20%);
	--yellow-11: color-mix(in hsl, #9e6c00 80%, #473b1f 20%);
	--lime-11: color-mix(in hsl, #5c7c2f 80%, #37401c 20%);
	--mint-11: color-mix(in hsl, #027864 80%, #16433c 20%);
	--sky-11: color-mix(in hsl, #00749e 80%, #1d3e56 20%);
}

.dark, .dark-theme {
	--tomato-11: color-mix(in hsl, #ff977d 80%, #fbd3cb 20%);
	--red-11: color-mix(in hsl, #ff9592 80%, #ffd1d9 20%);
	--ruby-11: color-mix(in hsl, #ff949d 80%, #fed2e1 20%);
	--crimson-11: color-mix(in hsl, #ff92ad 80%, #fdd3e8 20%);
	--pink-11: color-mix(in hsl, #ff8dcc 80%, #fdd1ea 20%);
	--plum-11: color-mix(in hsl, #e796f3 80%, #f4d4f4 20%);
	--purple-11: color-mix(in hsl, #d19dff 80%, #ecd9fa 20%);
	--violet-11: color-mix(in hsl, #baa7ff 80%, #e2ddfe 20%);
	--iris-11: color-mix(in hsl, #b1a9ff 80%, #e0dffe 20%);
	--indigo-11: color-mix(in hsl, #9eb1ff 80%, #d6e1ff 20%);
	--blue-11: color-mix(in hsl, #70b8ff 80%, #c2e6ff 20%);
	--cyan-11: color-mix(in hsl, #4ccce6 80%, #b6ecf7 20%);
	--teal-11: color-mix(in hsl, #0bd8b6 80%, #adf0dd 20%);
	--jade-11: color-mix(in hsl, #1fd8a4 80%, #adf0d4 20%);
	--green-11: color-mix(in hsl, #3dd68c 80%, #b1f1cb 20%);
	--grass-11: color-mix(in hsl, #71d083 80%, #c2f0c2 20%);
	--bronze-11: color-mix(in hsl, #d4b3a5 80%, #ede0d9 20%);
	--gold-11: color-mix(in hsl, #cbb99f 80%, #e8e2d9 20%);
	--brown-11: color-mix(in hsl, #dbb594 80%, #f2e1ca 20%);
	--orange-11: color-mix(in hsl, #ffa057 80%, #ffe0c2 20%);
	--amber-11: color-mix(in hsl, #ffca16 80%, #ffe7b3 20%);
	--yellow-11: color-mix(in hsl, #f5e147 80%, #f6eeb4 20%);
	--lime-11: color-mix(in hsl, #bde56c 80%, #e3f7ba 20%);
	--mint-11: color-mix(in hsl, #58d5ba 80%, #c4f5e1 20%);
	--sky-11: color-mix(in hsl, #75c7f0 80%, #c2f3ff 20%);
}
