.RatingInput {
	display: flex;
	width: fit-content;

	.icon {
		margin-right: -1px;
		font-family: 'Material Symbols Filled';
		color: var(--ink-2);
		user-select: none;
	}

	&:not(.is-over) {
		&[data-rating="1"] button:nth-child(-n+1),
		&[data-rating="2"] button:nth-child(-n+2),
		&[data-rating="3"] button:nth-child(-n+3),
		&[data-rating="4"] button:nth-child(-n+4),
		&[data-rating="5"] button:nth-child(-n+5) {
			color: var(--ink-5);
		}

		button:hover {
			color: var(--ink-2);
		}
	}

	&.is-over button {
		color: var(--ink-4);
	}

	&.is-over button:hover ~ button {
		color: var(--ink-2);
	}
}
